# ===== Node modules =====
node_modules/
backend/node_modules/
frontend/node_modules/
frontend/app/node_modules/

# ===== Environment files =====
backend/.env
backend/logs
frontend/.env
frontend/app/.env
frontend/app/.env.local
!frontend/.env.example
    

.vscode

# ===== Build outputs =====
dist/
build/

# ===== Logs =====
*.log

# ===== OS / IDE files =====
.DS_Store
Thumbs.db
